html, body{
  height:100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.message-container{
float:right;
height:100%;
width:65%;
padding:5px;
}


.room-container{float:left;
background-color:lightgrey;
height:100%;
padding:5px;

}

.pointer {
    cursor: pointer;
}

.modal {
  position: absolute;
  left:50%;
  top:45%;
  bottom:50%;

}

.user-form{
  position:relative;
  left:-50%;
  top:-50%;
  bottom:-50%;
  background-color: gray;
  padding: 20px;
  width:200px;
  height:200px;
  border:solid aqua 3px;
  display: block;
  vertical-align:middle;
  line-height: 30px;
}

.form-details{
  position:absolute;
  top:25%;
}
