* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.message-container{
float:right;
height:100%;
width:65%;
padding:5px;
}


.room-container{float:left;
background-color:lightgrey;
height:100%;
padding:5px;
}
