html, body{
  height:100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1{
  color:#7c6b33;
}
body{font-family: 'Raleway', sans-serif;
}
.room-container{
float:left;
background-image:url(../assets/img/cork-wallet.png);

height:100%;
padding:5px;
width:250px;

}

.message-container{
height:100%;
padding:5px;
position:relative;
margin-left:250px;
background-image:url(../assets/img/Sports.png);
}
.roomForm{
  margin-bottom:5px;
}
.pointer {
    cursor: pointer;
    line-height:2em;
    font-weight:bold;
    border:solid #8fc9a6 1px;

}

.modal {
  width: 200px;
  height: 200px;


  background-color: #7c6b33;
  line-height: 30px;
  -webkit-box-shadow: 3px 3px 9px 2px #000000;
box-shadow: 3px 3px 9px 2px #000000;
-webkit-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;

   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;

   margin: auto;
   padding:5px;

   z-index:1;

}


.form-details{
  position:absolute;
  top:25%;
}

.message-container .send-box{
  background-color:#8fc9a6;
  padding:30px;
  position:absolute;
  bottom:0;
  right:0;
  height:80px;
  width:100%;
  float:right;
  margin-left:250px;

}

#message{width:200px;}

.eachMessage {
  border-bottom:solid black 2px;
  line-height:2em;
}
.eachMessage:nth-child(odd){
  background-color:#7c6b33;
}

.date{float:right;}
