<section class="room-container">
  <h1>Bloc Chat</h1>
  <!-- create a form, look up ng-submit -->
  <form ng-submit="home.createRoom({name: newRoomName})">

       <label for="name">Name:</label>
       <!-- look up ng-model -->
       <input type="text" id="name" name="user_name" ng-model="newRoomName">
       <input type="submit" id="submit" value="Submit" />

  </form>

 <div ng-repeat="currentRoom in home.rooms" ng-click="home.activeRoom" class="pointer">{{ currentRoom.name }}</div>



</section>

<section class="message-container">
<h1>Messages</h1>
</section>
